<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<h1> Welcome, {{ user_name }}! </h1>

<a href="index.html">Return to starting page</a>
</body>
</html>